<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('head.ejs') %>
    <link rel="stylesheet" href="/css/main.css" />
    <title>정기치킨</title>
  </head>
  <body>
    <script>
      function getTokensFromLocalStorage() {
        const accessToken = localStorage.getItem('accessToken');
        const refreshToken = localStorage.getItem('refreshToken');
        return { accessToken, refreshToken };
      }

      const tokens = getTokensFromLocalStorage();

      $.ajax({
        type: 'GET',
        url: '/api/user/info',
        headers: {
          'Authorization': `Bearer ${tokens.accessToken}`,
          'Refresh': `${tokens.refreshToken}`
        },
        data: {},
        success: function(response) {
          if(!!response.newAccessToken){
            localStorage.setItem("accessToken", response.newAccessToken);
          }
          const userId = response.userId
          const userType = response.userType
          const userName = response.userName

          renderHeaderByUserType(userId, userType, userName)
        },
        error: function(err) {
          alert(err.responseJSON.message)
          window.location.href="/"
        }
      });
    </script>

    <%- include('header.ejs') %>
    <% if(components === 'mainPage') { %><%- include('mainPage.ejs') %><% } %>
    <% if(components === 'orderManagement') { %><%- include('orderManagement.ejs') %><% } %>
    <% if(components === 'checkout') { %><%- include('checkout.ejs') %><% } %>
    <% if(components === 'cart') { %><%- include('cart.ejs') %><% } %>
    <% if(components === 'myPage') { %><%- include('myPage.ejs') %><% } %>
    <% if(components === 'myPageEdit') { %><%- include('myPageEdit.ejs') %><% } %>
    <% if(components === 'orderHistory') { %><%- include('orderHistory.ejs') %><% } %>
    <% if(components === 'userList') { %><%- include('userList.ejs') %><% } %>
    <% if(components === 'userEdit') { %><%- include('userEdit.ejs') %><% } %>
    <% if(components === 'menuAdd') { %><%- include('menuAdd.ejs') %><% } %>
    <% if(components === 'menuEdit') { %><%- include('menuEdit.ejs') %><% } %>
    <%- include('footer.ejs') %>
    
  </body>
</html>
